.tips-head{
	font-family:Bernard MT Condensed;
	color:#a52a2a;
	font-size:2.0em;
	width:auto;
	background-color:#ffe4c4;
	height:auto;
	margin-left:3px;
	margin-top:3px;
	border-radius:5px;
	margin-bottom:2px;
}
.tips-area{
	width:200px;
	height:auto;
	background-color:white;
	vertical-align:top;
	color:#228b22;
	margin-top:5px;
	margin-left:0px;
	margin-right:40px;
	float:left;
	text-transform:capitalize;
	border-radius:5px;
	box-shadow:2px 2px 2px 2px white;
	#font-size:0.em;
	
}
.tips-head p{
	margin-left:3px;
	margin-top:3px;
	border-radius:5px; 
}